<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}"><i
                                class="fa fa-refresh"></i> </a>
                        <a href="javascript:;"
                            class="btn btn-success btn-add {:$auth->check('exam/exam_user/add')?'':'hide'}"
                            title="{:__('Add')}"><i class="fa fa-plus"></i> {:__('Add')}</a>
                        <a href="javascript:;"
                            class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('exam/exam_user/edit')?'':'hide'}"
                            title="{:__('Edit')}"><i class="fa fa-pencil"></i> {:__('Edit')}</a>
                        <a href="javascript:;"
                            class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('exam/exam_user/del')?'':'hide'}"
                            title="{:__('Delete')}"><i class="fa fa-trash"></i> {:__('Delete')}</a>
                        <a href="javascript:;"
                            class="btn btn-danger btn-import {:$auth->check('exam/exam_user/import')?'':'hide'}"
                            title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload"
                            data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i>
                            {:__('Import')}</a>

                        <div class="dropdown btn-group {:$auth->check('exam/exam_user/multi')?'':'hide'}">
                            <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled"
                                data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;"
                                        data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a>
                                </li>
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;"
                                        data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to
                                        hidden')}</a></li>
                            </ul>
                        </div>


                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                        data-operate-edit="{:$auth->check('exam/exam_user/edit')}"
                        data-operate-del="{:$auth->check('exam/exam_user/del')}" width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script id="customformtpl" type="text/html">
    <!--form表单必须添加 form-commonsearch 这个类-->
<form action="" class="form-commonsearch">
    <div style="border-radius:2px;margin-bottom:10px;background:#f5f5f5;padding:15px 20px;">
        <h4>自定义搜索表单</h4>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="control-label">考试项目</label>
                    <input type="hidden" class="operate" data-name="link.exam_id" value="=" />
                    <div>
                        <select id="c-exam_id"  class="form-control" name="link.exam_id">
                            <option value="" >查询已关联考试项目的考生</option>
                            {foreach name="examProject" item="vo"}
                            <option value="{$key}" >{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="control-label">院系/单位</label>
                    <div class="row" data-toggle="cxselect" data-selects="org_id,major,class_name">
                        <input type="hidden" class="operate" data-name="org_id" value="=" />
                        <div class="col-xs-4">
                            <select class="org_id form-control" name="org_id" data-first-title="选择院系"
                                data-url="exam/exam_user/linkSelect">
                            </select>
                        </div>
                        <input type="hidden" class="operate" data-name="major" value="=" />
                        <div class="col-xs-4">
                            <select class="major form-control" name="major" data-first-title="选择专业"
                                data-url="exam/exam_user/linkSelect" data-query-name="org_id">
                            </select>
                        </div>
                        <input type="hidden" class="operate" data-name="class_name" value="=" />
                        <div class="col-xs-4">
                            <select class="class_name form-control" name="class_name" data-first-title="选择班级"
                                data-url="exam/exam_user/linkSelect" data-query-name="major">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-1">
                <div class="form-group">
                    <label class="control-label">年级</label>
                    <input type="hidden" class="operate" data-name="grade" value="=" />
                    <div>
                        <input id="c-grade" data-source="exam/exam_user/getExamUserGrade" data-primary-key="grade"
                            data-field="grade" class="form-control selectpage" name="grade" type="text" value=""
                            style="display:block;">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-1">
                <div class="form-group">
                    <label class="control-label">考生类型</label>
                    <input type="hidden" class="operate" data-name="type" value="=" />
                    <div>
                        <input id="c-grade" data-source="exam/exam_user/getExamUserType" data-primary-key="type"
                            data-field="type" class="form-control selectpage" name="type" type="text" value=""
                            style="display:block;">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="form-group">
                    <label class="control-label">在线时长</label>
                    <!--显式的operate操作符-->
                    <div class="input-group">
                        <div class="input-group-btn">
                            <select class="form-control operate" data-name="onl.online_time" style="width:60px;">
                                <option value="=" selected>等于</option>
                                <option value=">">大于</option>
                                <option value="<">小于</option>
                            </select>
                        </div>
                        <input class="form-control" type="text" name="onl.online_time" placeholder="秒" value="" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="submit" class="btn btn-success btn-block" value="提交" />
                        </div>
                        <div class="col-xs-6">
                            <input type="reset" class="btn btn-primary btn-block" value="重置" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</script>